/*reset default margins*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

/*the navbar*/
.navbar{
    width: 100;;      /*width of side menu*/
    background-color:black;
    padding-top: 25px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:30px;
}

/*navbar title*/
.navbar h2{
    color:#ffffff;
    margin:0;
    font-size:24px;
    font-family:fantasy;
}

/*navigation buttons*/
.navbar a{
    display:inline-block;
    color:#cdcdcdcd;
    padding:12px 20px;
    text-decoration:none;    /*removes underline*/
    font-weight:500;
    font-size:15px;
    text-transform: uppercase;
}

/*change color when you hover over buttons*/
.navbar a:hover{
    background-color:#333333;
    color:red;
}

/*the blank main content area*/
.main-content{
    padding:40px;
    background-color:cornsilk;
    min-height:100vh;
}